[submodule "lib/collision_vo"]
	path = lib/collision_vo
	url = git@magiccvs.byu.edu:jaringson/collision_vo.git
[submodule "lib/common_cpp"]
	path = lib/common_cpp
	url = git@magiccvs.byu.edu:Jerel/common_cpp.git
[submodule "lib/geometry"]
	path = lib/geometry
	url = https://github.com/superjax/geometry.git
